
  :root {
    --red-pink:  #FF5667;
    --blue-back: #ECF3FB;
    --blue-border: #97B8DD;
    --purple-back: #F7F0F9;
    --purple-border: #C69CD6;
    --green-back: #E8FDF3;
    --green-border: #A8D18D;
    --yellow-back: #FFF9EF;
    --yellow-border: #FFD498;
  }

body {
  font-family: 'Open Sans', sans-serif;
}

dayview-grid {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
  }

.days-of-week-container,
.mini-days-container {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  text-align: right;
}
.mini-days-container div:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 125%;
  line-height: 1.4;
  font-weight: 400;
  color: var(--blue-grey-900);
}

body {
  min-height: 100vh;
  background: var(--blue-grey-100);
}

.right-pane {
  max-width: max-content;
  margin: 3em auto 0 auto;
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid var(--blue-grey-200);
  border-radius: 8px;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 700;
}

.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.7em;
  color: var(--blue-grey-400);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* Dates */
.date-grid {
  margin-top: 0.5em;
}

/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 6;
}
.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-600);
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: #2A3246;
  color: white; 
}

.date-grid button:active,
.date-grid button.is-selected {
  color: var(--red-pink);
}
 
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
