:root {
    --red-pink:  #FF5667;
    --blue-back: #ECF3FB;
    --blue-border: #97B8DD;
    --purple-back: #F7F0F9;
    --purple-border: #C69CD6;
    --green-back: #E8FDF3;
    --green-border: #A8D18D;
    --yellow-back: #FFF9EF;
    --yellow-border: #FFD498;
  }

body {
  font-family: 'Open Sans', sans-serif;
}

/* Main content panels */
.dayview-grid {
    display: grid;
    grid-template-areas:
     "left-pane main right-pane";
    grid-template-columns: 100px 1fr auto;
    max-width: 1100px;
    margin-top: 20px;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid #D4D7DC;
  }
  .main {
    overflow-x: scroll;
  }

.left-pane {
  grid-area: left-pane;
  position: relative;
  overflow-y: auto;
  box-shadow:  6px 0px 25px -4px rgba(0,0,0,0.35); 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 0;
}

.right-pane {
  grid-area: right-pane;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:  -10px 0px 25px -4px rgba(0,0,0,0.35); 
  transition: all 1.5s;

}

/*colored events */
.event {
  display: block;
  height: 2vw;
  z-index: 10;
}

.event-border {
  border-width: 2px;
  border-style: solid;
  border-right: none;
  border-left: none;
}

.event-border-top {
  border-bottom: none;
}

.event-border-bottom {
  border-top: none;
}

.border-none {
  border: none;
}

.yellow-event {
  background-color: var(--yellow-back);
  border-color: var(--yellow-border);
}

.purple-event {
  background-color: var(--purple-back);
  border-color: var(--purple-border);
}

.blue-event {
  background-color: var(--blue-back);
  border-color: var(--blue-border);
}

.green-event {
  background-color: var(--green-back);
  border-color: var(--green-border);
}

/* table */

tr td:first-child {
  background-color: #ffffff;
  position: absolute;
  width: 150px;
  height: 2rem;
  text-align: right;
  position: sticky;
  border-top: none;
  border-bottom: none;
  border-left: none;
  font-size: 15px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table th:first-child {
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: transparent;
}

table thead th {
  width: 4.5rem;
  height: 10px;
  border-width: 1.5px;
  border-color: #C6C6C6;
  background-color: #ebedf7e7;
  font-weight: 400;
  padding: 8px;
  position: sticky;
}

.time-blocks th {
  padding-top: 20px;
}

table th {
  width: 4.5rem;
  height: 10px;
  border-width: 1.5px;
  border-color: #C6C6C6;
  background-color: #ebedf7e7;
  font-weight: 700;
  padding: 8px;
  position: sticky;
}


table td {
  background-color: light-grey;
  border-width: 1px;
  border-color:#D4D7DC;
  border-spacing: 0;
  border-collapse: collapse;
  width: 4.5em;
  height: 10px;
  border-top-style: solid;
  border-bottom-style: solid;
}

table tr td:nth-child(odd) {
  border-right-style: dashed;
}

table tr td:nth-child(even) {
  border-right-style: solid;
}

.header-blank th:nth-child(odd) {
  border-right-style: dashed;
}

.header-blank th:nth-child(even) {
  border-right-style: solid;
}

table thead .time-blocks th {
  border-right-style: dashed;
}


/* small calendar */

.small-calendar {
  padding: 15px;
  margin: 2px;
}
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
}
.day-of-week {
  margin-top: 50px;
}

.day-of-week > * {
  font-size: 15px;
  color: var(--blue-grey-400);
  font-weight: 700;
  text-align: center;
}

/* Dates */
.date-grid {
  margin-top: 2px;
  padding: 0;
}

/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 1;
}

.date-grid button {
  position: relative;
  border: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: black;
  color: #ffffff;
}

.today {
  color: var(--red-pink )
}

.prev-next {
  color: #BEC2C9;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible .calendar-button {
  background-color: var(--red-pink);
  color: #444;
  padding: 9px;
  width:  5px;
  height: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  position: absolute;
  margin-left: -20px; 
}

.calendar-button:active, calendar-button::after {
  background-color: var(--red-pink)
}

button svg {
  margin-left: -2px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  position: relative;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  height: 100%;
}