body {
  font-family: 'Open Sans', sans-serif;
}
input {
  background-repeat: no-repeat;
}
h3 {
  border-bottom: none;
}
/*overall container styling, flex-box */
.tasks-container {
  width: 1196px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0,0,0,.10);
  border-radius: 20px;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* task timeline */
.task-timeline {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.task-timeline-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: justify;
}
.task-timeline-list:before {
  content: '';
  position: absolute;
  top: 35%;
  left: 8%;
  height: 0;
  border-bottom-width: .025em;
  border-bottom-style: solid;
  width: 82%;
  z-index: -1;
  pointer-events: none;
}
.task-timeline-list a {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 30px;
  display: inline-block;
  position: relative;
  background-color: black;
}
.task-timeline-list a::before{
  content: '';
  position: absolute;
  z-index: 1;
  background: black;
}
.active {
  background: black;
}
a:first-child::before {
  display: none;
}
.active {
  background-color: black;
}
.active ~ a {
  background-color: white;
}
.active ~ a::before {
  background-color: white;
}
.task-timeline-desc {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.task-timeline-desc li {
  padding: 0 20px 0 20px;
}
/* title of section */
.task-title:hover {
  cursor: default;
}
.task-title {
  margin-bottom: 25px;
}
.task-title h1 {
  font-size: 32px;
  font-weight: 700;
  padding-left: 0;
  color: black;
}
.task-title h2 {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

/* package selectors */
.selector {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
}
.package-selector {
  margin-bottom: 20px; 
}
.right-arrow-svg {
  margin-left: 20px;
}

.package-window {
  border: 1px solid black;
  margin-left: 20px;
  text-align: left;
  min-width: 290px;/* defined min height and width for consistency */
  min-height: 200px;
}
.package-name {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 550;
  padding: 10px 25px;
  margin: 0;
}
.package-window ul {
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.94' height='8.904' viewBox='0 0 11.94 8.904'%3E%3Cpath id='Icon_awesome-check' data-name='Icon awesome-check' d='M4.055,13.306.175,9.425a.6.6,0,0,1,0-.844l.844-.844a.6.6,0,0,1,.844,0l2.614,2.614,5.6-5.6a.6.6,0,0,1,.844,0l.844.844a.6.6,0,0,1,0,.844L4.9,13.306A.6.6,0,0,1,4.055,13.306Z' transform='translate(0 -4.577)'/%3E%3C/svg%3E%0A");
  font-size: 15px;
  margin: 10px 20px 20px 20px;
  padding-left: 25px;
  color: #535353;
}
/*price section */
.package-footer {
  border-top: 1px solid #D0D0D0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 25px;
}
.package-price {
  font-weight: 600;
  font-size: 34px;
  color: black;
}
.cents {
  font-size: 0.45em; /* makes smaller than dollar amt */
  position: relative;
  bottom: .8em; /*stacks above */
  padding-left: 5px;
}
.per-person {
  font-size: 10px;
  position: relative;
  right: 20%; /* stacks below cent */
  bottom: .5em;
  font-weight: 400;
  padding-left: 5px;
}

/* selected package changes */
.selected-package {
  border-color: #A92BC1;
}
.selected-package h3{
  background-color: #A92BC1;
}
.selected-package ul {
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.94' height='8.904' viewBox='0 0 11.94 8.904'%3E%3Cpath id='Icon_awesome-check' data-name='Icon awesome-check' d='M4.055,13.306.175,9.425a.6.6,0,0,1,0-.844l.844-.844a.6.6,0,0,1,.844,0l2.614,2.614,5.6-5.6a.6.6,0,0,1,.844,0l.844.844a.6.6,0,0,1,0,.844L4.9,13.306A.6.6,0,0,1,4.055,13.306Z' transform='translate(0 -4.577)' fill='%23a92bc1'/%3E%3C/svg%3E ");
}
.great-choice span {
  padding-left: 10px;
  padding-top: 3px;
  margin-top: 5px;
}

.great-choice {
  min-height: 58px; /* makes height of box consistent when selected */
}
/*footer */
.footer-with-button {
  margin-top: 40px;
}
.button-left {
  align-self: flex-start;
}
.menu-buttons {
  margin-left: 120px;
}
.registration-btn {
  padding: 14px 50px;
}

/* input form */
input {
  line-height: 2.0;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 10px;
  bottom: 50%;
  border-bottom: 1px solid #C1C1C1;
  margin-bottom: 10px;
}
input::placeholder {
  font-style: italic;
  font-size: 14px;
  color: #626161;
  padding-left: 10px;
}
.res-info {
  margin-right: 30px;
}
.goh-info {
  margin-right: 15px;
}
.name {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.319' height='20.234' viewBox='0 0 18.319 20.234'%3E%3Cpath id='Path_9' data-name='Path 9' d='M15.159,8.33A3.83,3.83,0,1,1,11.33,4.5a3.83,3.83,0,0,1,3.83,3.83Z' transform='translate(-2.17 -3)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_8' data-name='Path 8' d='M16.819,28.245V26.33a3.83,3.83,0,0,0-3.83-3.83H5.33A3.83,3.83,0,0,0,1.5,26.33v1.915' transform='translate(0 -9.511)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E ");
  width: 45%;
}
.phone-number {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.5' height='23.714' viewBox='0 0 17.5 23.714'%3E%3Cg id='Icon_feather-smartphone' data-name='Icon feather-smartphone' transform='translate(-6 -1.5)'%3E%3Cpath id='Path_88' data-name='Path 88' d='M9.571,3H19.928A2.071,2.071,0,0,1,22,5.071V21.642a2.071,2.071,0,0,1-2.071,2.071H9.571A2.071,2.071,0,0,1,7.5,21.642V5.071A2.071,2.071,0,0,1,9.571,3Z' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_89' data-name='Path 89' d='M18,27h0' transform='translate(-3.25 -7.429)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E ");
  width: 45%;
}
.email {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.758' height='21.788' viewBox='0 0 19.758 21.788'%3E%3Cpath id='Icon_simple-email' data-name='Icon simple-email' d='M21.414,10.056a11.237,11.237,0,0,1-.362,2.437,7.053,7.053,0,0,1-.948,2.14A5,5,0,0,1,18.5,16.154a4.534,4.534,0,0,1-2.346.579,3.4,3.4,0,0,1-1.7-.415,2.905,2.905,0,0,1-1.146-1.175,3.634,3.634,0,0,1-3.074,1.544,3.126,3.126,0,0,1-2.684-1.443,4.724,4.724,0,0,1-.667-1.672A7.211,7.211,0,0,1,6.8,11.39a10.132,10.132,0,0,1,.664-2.671A7.261,7.261,0,0,1,8.69,6.673a5.2,5.2,0,0,1,1.688-1.3,4.711,4.711,0,0,1,2.053-.456,6.384,6.384,0,0,1,1.228.1,5.027,5.027,0,0,1,.953.286,5.154,5.154,0,0,1,.79.417c.241.155.483.316.724.479l-.6,6.862a2.281,2.281,0,0,0,.018.8,1.124,1.124,0,0,0,.245.5.882.882,0,0,0,.4.259,1.476,1.476,0,0,0,1.4-.275,2.977,2.977,0,0,0,.749-.953,6.138,6.138,0,0,0,.5-1.432,9.828,9.828,0,0,0,.221-1.784,11.4,11.4,0,0,0-.28-3.333,6.625,6.625,0,0,0-1.234-2.579A5.728,5.728,0,0,0,15.335,2.6a8.025,8.025,0,0,0-3.221-.59,7.113,7.113,0,0,0-3.186.694A7.31,7.31,0,0,0,6.507,4.632a9.239,9.239,0,0,0-1.585,2.9,13.05,13.05,0,0,0-.667,3.608,12,12,0,0,0,.34,3.682,6.649,6.649,0,0,0,1.345,2.639A5.614,5.614,0,0,0,8.22,19.041a8.743,8.743,0,0,0,3.145.526,10.772,10.772,0,0,0,2.064-.222c.34-.068.663-.15.971-.24a7.306,7.306,0,0,0,.836-.3l.432,1.942a4.791,4.791,0,0,1-.935.463,9,9,0,0,1-1.106.32,10.788,10.788,0,0,1-2.309.259,12.109,12.109,0,0,1-4.21-.678,7.748,7.748,0,0,1-3.069-2.018A8.474,8.474,0,0,1,2.2,15.761a14.211,14.211,0,0,1-.515-4.625A14.105,14.105,0,0,1,2.567,6.7,10.985,10.985,0,0,1,4.7,3.171,9.716,9.716,0,0,1,7.952.844,10.184,10.184,0,0,1,12.164,0a10.632,10.632,0,0,1,4.082.731,7.939,7.939,0,0,1,2.946,2.056,8.437,8.437,0,0,1,1.748,3.176A12.146,12.146,0,0,1,21.414,10.056ZM9.722,11.39a4.632,4.632,0,0,0,.24,2.3,1.231,1.231,0,0,0,1.185.776,1.308,1.308,0,0,0,.406-.075,1.447,1.447,0,0,0,.467-.28,2.492,2.492,0,0,0,.474-.572,4.388,4.388,0,0,0,.436-.967l.466-5.332a2.782,2.782,0,0,0-.724-.1,2.5,2.5,0,0,0-1.2.276,2.385,2.385,0,0,0-.854.811,4.765,4.765,0,0,0-.566,1.334,11.319,11.319,0,0,0-.321,1.824Z' transform='translate(-1.67)'/%3E%3C/svg%3E ");
width: 45%; 
}
.reservation-date {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.619' height='24.022' viewBox='0 0 21.619 24.022'%3E%3Cpath id='Icon_material-date-range' data-name='Icon material-date-range' d='M11.706,13.81H9.3v2.4h2.4Zm4.8,0h-2.4v2.4h2.4Zm4.8,0h-2.4v2.4h2.4Zm2.4-8.408h-1.2V3h-2.4V5.4H10.505V3H8.1V5.4H6.9a2.391,2.391,0,0,0-2.39,2.4L4.5,24.619a2.4,2.4,0,0,0,2.4,2.4H23.717a2.409,2.409,0,0,0,2.4-2.4V7.8A2.409,2.409,0,0,0,23.717,5.4Zm0,19.217H6.9V11.408H23.717Z' transform='translate(-4.5 -3)'/%3E%3C/svg%3E ");
  width: 93.5%;
}
.guest-first {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.063' height='20.434' viewBox='0 0 24.063 20.434'%3E%3Cg id='Icon_feather-users' data-name='Icon feather-users' transform='translate(0 -2.799)'%3E%3Cpath id='Path_8' data-name='Path 8' d='M16.819,28.245V26.33a3.83,3.83,0,0,0-3.83-3.83H5.33A3.83,3.83,0,0,0,1.5,26.33v1.915' transform='translate(0 -6.511)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_9' data-name='Path 9' d='M15.159,8.33A3.83,3.83,0,1,1,11.33,4.5a3.83,3.83,0,0,1,3.83,3.83Z' transform='translate(-2.17)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_10' data-name='Path 10' d='M32.872,28.315V26.4A3.83,3.83,0,0,0,30,22.7' transform='translate(-10.309 -6.581)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_11' data-name='Path 11' d='M24,4.7a3.83,3.83,0,0,1,0,7.42' transform='translate(-8.139 -0.071)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E ");
  width: 40%;
}
.guest-last {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.063' height='20.434' viewBox='0 0 24.063 20.434'%3E%3Cg id='Icon_feather-users' data-name='Icon feather-users' transform='translate(0 -2.799)'%3E%3Cpath id='Path_8' data-name='Path 8' d='M16.819,28.245V26.33a3.83,3.83,0,0,0-3.83-3.83H5.33A3.83,3.83,0,0,0,1.5,26.33v1.915' transform='translate(0 -6.511)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_9' data-name='Path 9' d='M15.159,8.33A3.83,3.83,0,1,1,11.33,4.5a3.83,3.83,0,0,1,3.83,3.83Z' transform='translate(-2.17)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_10' data-name='Path 10' d='M32.872,28.315V26.4A3.83,3.83,0,0,0,30,22.7' transform='translate(-10.309 -6.581)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Path_11' data-name='Path 11' d='M24,4.7a3.83,3.83,0,0,1,0,7.42' transform='translate(-8.139 -0.071)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E ");
  width: 40%;
}
.guest-age {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.481' height='21.366' viewBox='0 0 17.481 21.366'%3E%3Cpath id='Icon_material-cake' data-name='Icon material-cake' d='M13.241,5.827a1.942,1.942,0,0,0,1.942-1.942,1.849,1.849,0,0,0-.282-1L13.241,0,11.58,2.884a1.849,1.849,0,0,0-.282,1A1.948,1.948,0,0,0,13.241,5.827Zm4.467,9.7L16.669,14.49,15.62,15.529a3.441,3.441,0,0,1-4.749,0L9.832,14.49,8.773,15.529a3.336,3.336,0,0,1-2.37.981,3.374,3.374,0,0,1-1.9-.592V20.4a.974.974,0,0,0,.971.971H21.01a.974.974,0,0,0,.971-.971V15.918a3.374,3.374,0,0,1-1.9.592A3.336,3.336,0,0,1,17.708,15.529Zm1.36-6.789H14.212V6.8H12.27V8.741H7.414A2.91,2.91,0,0,0,4.5,11.654v1.5a1.907,1.907,0,0,0,1.9,1.9,1.864,1.864,0,0,0,1.34-.554l2.078-2.069L11.891,14.5a1.948,1.948,0,0,0,2.69,0l2.078-2.069L18.728,14.5a1.88,1.88,0,0,0,1.34.554,1.907,1.907,0,0,0,1.9-1.9v-1.5A2.9,2.9,0,0,0,19.068,8.741Z' transform='translate(-4.5)'/%3E%3C/svg%3E ");
  width: 10%;
}
.guest-title {
  margin: 10px 0 10px 0;
  color: black;
  font-size: 16px;
}
.add-guest-honor-btn {
  background-color:black;
  padding: 0px 1px;
  border: none;
  border-radius: 5px; 
  margin-top: 10px;
}

.add-guest-honor-btn:hover {
  cursor: pointer;
}
.add-guest-honor-lbl {
  font-size: 14px;
  padding-left: 10px;
}
.add-guest-lbl {
  bottom: 80%;
}
.italics {
  font-style: italic;
}
/* activities */
.activity-selector {
  margin-bottom: 200px;
}
.activity-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;  
  border-width: 1px solid #707070;
  border-style: solid;
  width: 290px; /* fixed height and width for consistency in size */
  height: 295px;
  text-align: center;
  margin-right: 60px;
}
.activity-window h1 {
  border-bottom: none;
  font-size: 28px;
  padding-left: 0;
  padding-top: 20px;
}
.act-icon {
  min-width: 140px;
  min-height: 170px;
  margin-top: -20px;
  
}
.act-selected {
  color: black;
  border-color: black;
}
.act-selected h1 {
  color: black;
}
.act-unselected h1 {
  color: #656565;
}
.act-unselected {
  color: #656565;
  border-color: #707070;
}
.selected-check {
  padding: 10px;
  background-color: black;
  position: relative;
  bottom: 22%;
  left: 48%;
}
.hide {
  display: none;
}



/* package detail selections */
.package-details {
  border-bottom: 1px solid #D5DBEB;
  padding-bottom: 10px;
}
.food-window {
  width: 980px;
}
.package-details h3 {
  font-size: 24px;
  border-bottom: none;
  color: #2A3246;
  margin-top: -5px;
  padding: 0 10px;
}
.package-details h3 span {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}
.included {
  font-weight: 550;
}
.package-detail-list {
  font-weight: 400;
  list-style: none;
  columns: 2;
  width: 50%;
  color: #575757;
}
.menu-type {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-content: center; 
}
.food-dropdown-btn {
  background-color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.menu-type h3 {
  margin-top: 12px;
}
.down-carat {
  background: url("data:image/svg+xml, %3Csvg id='Location_Dropdown_Box' data-name='Location Dropdown Box' xmlns='http://www.w3.org/2000/svg' width='33' height='29' viewBox='0 0 33 29'%3E%3Cg id='Bckgnd' fill='none' stroke='%23d5d9e3' stroke-width='1'%3E%3Crect width='33' height='29' rx='5' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='32' height='28' rx='4.5' fill='none'/%3E%3C/g%3E%3Cpath id='Down_Arrow_Icon' data-name='Down Arrow Icon' d='M13.681,17.23l5.665-5.669a1.066,1.066,0,0,1,1.512,0,1.08,1.08,0,0,1,0,1.517L14.439,19.5a1.069,1.069,0,0,1-1.476.031L6.5,13.082a1.071,1.071,0,0,1,1.512-1.517Z' transform='translate(2.813 -1.246)' fill='%232a3246'/%3E%3C/svg%3E");
  background-size: cover;
  padding: 10px 20px;
  background-color: white;
}
.up-carat {
  background: url("data:image/svg+xml, %3Csvg id='Location_Dropdown_Box' data-name='Location Dropdown Box' xmlns='http://www.w3.org/2000/svg' width='32' height='29' viewBox='0 0 32 29'%3E%3Crect id='Bckgnd' width='32' height='29' rx='5' fill='%23a92bc1'/%3E%3Cpath id='Down_Arrow_Icon' data-name='Down Arrow Icon' d='M13.681,17.23l5.665-5.669a1.066,1.066,0,0,1,1.512,0,1.08,1.08,0,0,1,0,1.517L14.439,19.5a1.069,1.069,0,0,1-1.476.031L6.5,13.082a1.071,1.071,0,0,1,1.512-1.517Z' transform='translate(2.813 -6.246)' fill='%23fff' opacity='0'/%3E%3Cpath id='Up_Arrow_Icon' data-name='Up Arrow Icon' d='M7.494,5.984,13.158.314a1.066,1.066,0,0,1,1.512,0,1.08,1.08,0,0,1,0,1.517L8.252,8.254a1.069,1.069,0,0,1-1.476.031L.312,1.835A1.071,1.071,0,0,1,1.824.319Z' transform='translate(23.982 17.566) rotate(180)' fill='%23fff'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
  background-color: white;
}
.pizza-selector {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.pizza-window {
  border-width: 2px;
  width: 80%;
  border-style: solid;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-sizing: content-box;
  align-content: stretch;
  background-color: white;
  border-radius: 0;
}
a {
  text-decoration: none;
}
.pizza-selected {
  background-color: #F0F0F0;
}
.pizza-desc-link {
  display: block;
  text-align: left;
  float: left;
}
.pizza-desc {
  flex-basis: 45%;
  padding-left: 20px;
  text-align: left;
}
.pizza-desc p {
  font-size: 12px;
  padding-top: 8px;
  font-weight: 400;
}
.pizza-desc h4 {
  font-size: 19px;
}
.pizza-image {
  height: 90px;
  width: 175px;
  background-color: lightgrey;
  padding: 20px;
  margin: 0 20px;
}
.pizza-btn {
  font-weight: 600;
  padding: 8px 25px;
  margin-left: 20px;
}
.choose-btn {
  border: 1px solid #A92BC1;
  background: white;
  color: #A92BC1;
  padding: 9px 30px;
}
.pizza-btn:hover {
  cursor: pointer;
}
.deselect-btn {
  border: none;
  background-color: #A92BC1;
  color: white;
  padding: 9px 25px;
}
.choose-amounts {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
}
.choose-amounts-detail {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.choose-amounts-detail label {
  padding-right: 50px;
}
.choose-amounts-selector {
  display: flex;
}
.choose-amounts-selector div {
  padding: 0 10px;
}
.add-subtract-btn{
  padding: 5px;
  border-radius: 50%;
}
.add-subtract-btn:hover {
  cursor: pointer;
}
.number {
  font-weight: 700;
}
.subtract-svg {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.709' height='2.435' viewBox='0 0 9.709 2.435'%3E%3Cpath id='Icon_metro-plus' data-name='Icon metro-plus' d='M11.976,5.569H8.639c-1.477-.007-2.46.009-2.427,0H2.874a.3.3,0,0,0-.3.3v1.82a.3.3,0,0,0,.3.3H6.211c.023.013.665,0,2.427,0h3.337a.3.3,0,0,0,.3-.3V5.872A.3.3,0,0,0,11.976,5.569Z' transform='translate(-2.571 -5.567)' fill='%23fff'/%3E%3C/svg%3E") top no-repeat;
  background-size: contain;
  background-position: top 2px right 0px;
  display: inline-block;
  height: 2px;
  width: 10px;
}
.grayscale {
  background-color:#C1C1C1;
}
.purple {
  background-color: #A92BC1;
}

/* Review the terms */
.terms-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 15px;
  max-width: 990px;
  color: #626161;
  margin-bottom: 20px;
}
.terms-grid p {
  font-weight: 600;
}
.terms-grid span {
  font-weight: 400;
}
.info {
  background-color: #F7F7F7;
  padding: 10px 20px;
}
.date {
  grid-column: 1 span 2;
  grid-row: 1 span 1;
}
.start-time {
  grid-column: 3 span 2;
  grid-row: 1 span 1;
}
.end-time {
  grid-column: 5 span 2;
  grid-row: 1 span 1;
}
.adults {
  grid-column: 1 span 2;
  grid-row: 2  span 1;
}
.children {
  grid-column: 3 span 2;
  grid-row: 2 span 1;
}
.type {
  grid-column: 5 span 2;
  grid-row: 2 span 1;
}
.terms-package {
  display: flex;
  flex-direction: column;
}
.terms-details {
  grid-row-start: 3;
  grid-column-start: span 2;
}
.terms-details p {
  padding-bottom: 10px;
}
.terms-pricing {
  grid-row-start: 3;
  grid-column-start: 2 span 1;
  padding: 30px;
}
.align-left {
  float: left;
}
.align-left span {
  float: right;
}
.deposit-due {
  margin-top: 20px;
  text-align: center;
}
.due-today {
  font-size: 36px;
  color: black;
}
.contract-window {
  border: 1px solid #D0D0D0;
  max-width: 990px;
  min-height: 556px;
  overflow-y: scroll;
}
.sign-and-date {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.sign-and-date p {
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 12px;
}
.sign-and-date:hover {
  cursor: pointer;
}
.terms-cond {
  color: #626161;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 20px;
}

/* table for terms instead of grid */
.package-detail-tables {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.package-desc-table {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.price-table-details {
  display: flex;
  flex-direction: column;
}
.terms-table {
  width: 100%;
  border-spacing: 0px;
}
table label {
  font-weight: 600;
}
.terms-table td {
  border: 5px solid white;
}
.terms-table {
  border-left: none;
  border-right: none;
}
.terms-package-table {
  border-collapse: collapse;
  border-right: 1px dashed #707070;
  max-width: 66%;
}
.price-table { 

}
/*success message */
.success-message {
  color: black;
  text-align: center;
  padding: 20px;
}
.success-message h2 {
  color: black;
  font-size: 24px;
  padding: 10px;
}
.success-note {
  padding: 10px;
}

/*buttons */
.registration-btn {
  border-width: 1px;
  border-style: solid;
  padding: 14px 50px;
  margin: 0 3px;
}
.next-btn {
  background-color: black;
  color: white;
  border-color: black;
  font-weight: 700;
}
.prev-btn {
  background-color: white;
  color: black;
  border-color: black;
  font-weight: 700;
}
.time-slot-btn {
  background-color: #F9FAFC;
  color: black;
  border-color: #CED3DD;
  font-weight: 400;
}
.registration-btn:hover {
  cursor: pointer;
}