body {
  font-family: 'Open Sans', sans-serif;
}

/* general page display */

.folder-list {
  display: flex;
}

.folder-info {
  text-align: center;
}

/* container styles */
.folder-container {
  border-radius: 10px;
  width: 240px;
  height: 245px;
  margin: 40px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,.15);
}

/* add-file needs to match size of others on page */
.add-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #A6AAB3;
  background-color: #F8F9FB;
}

/* info/date/titles/icons */
.folder-info h5 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
}

.folder-info p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

/* pdf/png/pdf boxes */
.views-icons {
  margin: 50px 0 0 50px;
}
.view-icon {
  margin-right: 10px; 
}
.image-files {
  display: grid;
  margin: 20px 30px;
  max-width: 1467px;
  grid-gap: 20px;
  grid-template-columns: repeat(7, 1fr);
}

.image-file-container {
  margin: 0;
}

.image-desc-container {
  border: 1px solid #B5BBCB;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 0;
  margin-right: 0;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.image-info-container {
  border: 1px solid #B5BBCB;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  width: 170px; 
}

.three-dot-icon {
  margin: 10px 10px 10px 150px;
}

.image-file-type h4 {
  color:#858BA5;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 25px;
  margin-top: 0;
  margin-bottom: 35px;
}

.image-info-container {
  text-align: left;
}

.image-title {
  margin: 0;
  padding: 5px 5px 0 5px;
  font-size: 13px;
}
.image-size {
  margin: 0;
  color: #B5BBCB;
  padding: 0px 0px 10px 10px;
  font-size: 13px;
}
.image-add-container {
  height: 160px;
  width: 175px;
  border-radius: 10px;
}

.pdf {
  background-color: #C0EBE0;
}

.png {
  background-color: #C8D5FC;
}

.jpg {
  background-color:#C1E9FF;
}

/*Vertical Image List*/
.image-list-vertical {
  display: grid;
  max-width: 630px;
  margin: 50px 0 0 50px;

}

.image-info-vertical {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #C4CAD9;
  justify-content: space-between;
  align-items: center;
}

.image-title-vertical {
  font-size: 13px;
  padding: 10px;
  margin: 0;
  padding: 0 0 0 10px;
}

.image-size-vertical {
  color: #B5BBCB;
}

.three-dot-icon-title {
  display: flex;
}

.image-description-vert {
  display: flex;
}

.vertical-padding {
  padding: 5px; 
}

.image-file-type-vertical h4 {
    color:#858BA5;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 0 10px;
  }