.invoice-summary {
  display: grid;
  justify-items: flex-start;
  align-content: flex-start;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.invoice-summary button {
  width: 100%;
}


.totals-block {
  display: flex;
  justify-content: center;
}


.total {
  text-align: left;
  padding: 20px;
}

.payment-totals {
  margin-left: 20px;
}

.document-charges-table {
  padding: 20px;
}

.charges-table {
  border-collapse: collapse;
}

.row-grand-total {
  border-top: 1px solid var(--red);
  margin-top: 15px;
}