/* CSS Document */

* {
  box-sizing: border-box;
}

:root {
  --red: red;
  --black-font: black;
  --grey-font: #A3A8B3;
  --white: #ffffff; 
}

body {
  font-family: 'Open Sans', sans-serif;
}

.content-body {
  padding: 20px 50px;
	margin: 40px auto;
	border: 1px solid #B8BCC4;
	background: #EFF1F5;
}

/* Paper and corner-fold design */
.document-body {
  position: relative;
  background-color: #ffffff;
  max-width: 1100px;
  padding: 20px 60px;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: -10px 8px 16px 0px rgba(0,0,0,0.2);
}

.document-body .document-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 5em;
  height: 5em;
  background-color: #FFFFFF;
  }
  
.document-body .document-corner .document-triangle {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5em 5em 0;
  border-bottom-left-radius: 15px;
  border-color: transparent #EFF1F5 transparent transparent;
  box-shadow: -5px 8px 8px 0px rgba(0,0,0,0.2);
  }

/* general styling for content at the top */
.document-info {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
  }
.left-info .right-info {
  flex: 1;
}

/* top left - date and proposal # */
.left-info {
  display: inline-block;
  font-size: 14px;
}
.left-info h5 {
  color: red;
  margin: 0px;
  }
.left-info p {
  color: black;
  margin: 0px;  
}

/* center logo and address */
.center-info {
  display: block;
  align-content: center;
  text-align: center;
  margin-left: -80px;
}
.center-info img {
  width: 300px;
  height: 180px;
}

.center-info p {
  color: var(--grey-font)
}

/* Headers for doc */
.document-headers {
  text-align: center;
}

.document-headers h1 {
  font-weight: 700;
  color: var(--black-font);
  margin-bottom: 0;
}

.document-headers h4 {
  color: var(--red);
  margin-top: 0;
  font-weight: 500;
  font-size: 18px;
}

/* Tables */
.party-info {
  margin: 20px;
}
.document-table {
  border: none;
  width: 100%;
  border-collapse: collapse;
}
.document-table th {
  padding: 10px 15px;
  margin-bottom: 10px;
}
.document-table thead {
  border-bottom: 1px solid var(--red);
  text-align: left;
}
.document-table td {
  padding: 10px 15px;
  color: var(--grey-font)
}

.table-solid-background {
  background-color: var(--red);
  color: var(--white);
  width: 100%;
  text-align: center; 
  padding: 5px;
}